.task{
    width: 31.63%;
    padding: 9px;
    border-radius: 19.22px;
    background-color: #FCFBFF;
    &__date{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        margin-top: 0px;
        color: #d9d9d9;
    }
}
.task-container{
    width: 80.59%;
    margin: 0 auto;
    margin-top: 20.06px;
    &__title{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        color: #27104e;
    }
    &__text{
        font-family: var(--font-family);
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        margin-top: 0.5rem;
        color: #27104e;
    }
}
.task-container-blok{
    display: flex;
    justify-content: space-between;
    &__info{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        color: #27104e;
    }
    &__progress{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        color: #27104e;
    }
}
.task-blok{
    margin-top: 9.28px;
    &__line{
        border: 1.92px solid rgba(217, 217, 217, 0.5);
        height: 0px;
    }
}
.task-blok-container{
    margin-top: 10.28px;
    display: flex;
    justify-content: space-between;
}
.task-blok-container-img{

}