.parsonal-area {
   display: flex;   
   gap: 5px;

   .personal-area-content {
      &__header {
      display: flex;
      gap: 12px;
      margin: 34px 10px  10px 25px;
      }

      &__main {
         display: flex;
         gap: 18px;
      }

      &__footer {
         display: flex;
         gap: 14px;
         margin: 10px 0px 0px 26px;
      }
   }

   .personal-area-aside {
      box-sizing: border-box;
      margin-top: 34px;
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
}