.button-container{
    width: 58.9%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
}

.task-button-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}