.personal-area-password {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fcfbff;
  width: 468px;
  height: 189px;
  padding: 26px 15px;
  display: flex;
  gap: 20px;

  .personal-area-password__title {
    margin: 0;
    width: calc(184px - 15px);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #000;
  }

  .personal-area-password__form {
   

    .ant-form-item {
      margin-bottom: 0px;
    }

    .ant-col {
      padding-bottom: 0px;
    }

    .ant-form-item-control-input-content > input {
      border: 0.59px solid #ac9ff0;
      border-radius: 4px;
      width: 268px;
      height: 20px;
      padding: 2px 5px;
    }
  }

  button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 5px 8px;
    width: 267px;
    height: 27px;
    background: #ac9ff0;
  }
}

