.navigation{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #FCFBFF;
    padding-top: 2.2rem;
    width: 7.92rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 16.95px;
    height: 100vh;
    overflow: hidden;
}

.navigation-container{
    display: flex;
    flex-direction: column;
    gap: 1.69rem;
    align-items: center;
    &__activeLink{
        background: #9854CB;
        cursor: pointer;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &__disableLink{
        width: 50px;
        height: 50px;
        cursor: pointer;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    align-items: center;
}

.nav-exit{
    padding-bottom: 2rem;
}